################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Reversi Informatik 1 Hausarbeit/.vs/Reversi Informatik 1 Hausarbeit/v16
