################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Reversi Informatik 1 Hausarbeit/.vs/Reversi Informatik 1 Hausarbeit/v16
/Reversi Informatik 1 Hausarbeit/Reversi Informatik 1 Hausarbeit/x64/Debug
/Reversi Informatik 1 Hausarbeit/x64/Debug
/.vs/Reversi/v16
/.vs
